<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
       
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>NCAR Command Language (NCL)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>LaTeX</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Shell Script</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>HTML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Fortran</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 

        </div>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master's Degree <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Remote Sensing</h6>
                <h6><i class="glyphicon glyphicon-map-marker"></i> Federal University of Rio Grande do Sul</h6>                
                <b>Thesis:</b> Ocean-Atmosphere Interactions in an Extratropical Cyclone in the Southwest Atlantic. You can access the thesis <a href="http://www.bibliotecadigital.ufrgs.br/da.php?nrb=001049476&loc=2017&l=402d86e18a39851e"> here</a>
                 (in portuguese) and the paper <a href="http://www.anuario.igeo.ufrj.br/2019_01/2019_1_525_535.pdf"> here </a>(in english).
            </li>
            <br>
            <li class="first">
                <h5>Bachelor's Degree <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Oceanography</h6>
                <h6><i class="glyphicon glyphicon-map-marker"></i> Federal University of Paraná</h6>                
                <b>Thesis:</b> Ocean-Atmosphere Interactions in an Extratropical Cyclone in the Southwest Atlantic. You can access a copy <a href="https://www.researchgate.net/publication/329070542_VARIABILIDADE_DA_TEMPERATURA_DA_SUPERFICIE_DO_MAR_DURANTE_UM_EVENTO_EXTREMO_DE_PRECIPITACAO_EM_SANTA_CATARINA"> here</a>
                 (in portuguese).
            </li>
        </ul>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="files/Ueslei_15JAN2020.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download full CV</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Portuguese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

        
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Italian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Spanish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Assistant Research Fellow <span class="duration"><i class="fa fa-calendar color"></i> 2017 - Today</span></h5>
                <h6><span class="fa fa-briefcase"></span> National Institute for Space Research</h6>
                <p>• Implementation of the WaveWatch 3 and ROMS Sea Ice models; <br> • Hydrodynamic and atmospheric modeling using ROMS, WRF and WaveWatch to study air-sea-ice interactions in the Weddell Sea.</p>
            </li>
            <br>
            <li class="first">
                <h5>Assistant Research Fellow <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> National Institute for Space Research</h6>
                <p>• Implementation of the COAWST Modeling System in a parallel cluster in order to bring the state-of-the-art in numerical modeling to the Institute; <br>
                   • Hydrodynamic and atmospheric modeling using ROMS, SWAN and WRF to study extreme weather events and their air-sea interaction in the Southwest Atlantic.</p>
            </li>
            <br>
            <li class="first">
                <h5>Graduate Research Fellow <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> Federal University of Rio Grande do Sul</h6>
                <p>Data processing and analysis of extreme precipitation events in South Brazil.</p>
            </li>
            <br>
            <li class="first">
                <h5>Undergraduate Research Fellow <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span> Federal University of Paraná</h6>
                <p>Monitor of the Meteorology class of the Oceanography graduation course for 2012 and 2013 classes.</p>
            </li>           

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- /.attributes -->
        <br>  
        
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
</div>

<!-- End .resume -->