<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
            <li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>
            <li><span class="filter" data-filter="logo">Logo</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/coawstguide_2.png" rel="portfolio" title="This guide is designed to assist new users with the Coupled Regional Modeling System (COAWST). 
                    The main idea is to teach the reader the necessary steps to use COAWST, from its installation, simulation of a test case and the configuration of a project. 
                    To achieve this goal, we use several programming languages, such as Fortran, Python, C++, and MATLAB. In the future we intend to adapt all scripts to Python, 
                    Fortran and C++.">
                        <img src="images/portfolio/coawstguide_2.png" alt="Numerical Modeling"/>
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Guia prático para utilização <br> do COAWST - 2ª Edição</a>
                                <span class="text-category">COAWST</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->