<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Ueslei Adriano Sutil</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Ueslei Adriano Sutil</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">August 22 1990</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">São José dos Campos, SP, Brazil</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">uesleisutil1@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+55 (12) 3208-7305</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">uesleisutil.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>

            <i class="fa fa-quote-left"></i>       
            I’m a physical oceanographer with programming language and data analysis skills.
            The main object of my work is ocean-atmosphere interaction during extreme events
            in the South Atlantic and Antarctica using coupled regional numerical modeling.<i class="fa fa-quote-right"></i>
        
    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/ueslei.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services 1</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-python"></i></div>
                <div class="service-detail">
                    <h6>Python</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-python"></i></div>
                <div class="service-detail">
                    <h6>Python user</h6>
                    <p>I use Python tin oceanography and meteorology as a tool to analyze data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Moving Let Us Help</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->


<div class="clear"></div>
</div>
<!-- End .profile -->